{% extends 'master.html' %}

{% block title %}
Enrolment
{% endblock %}

{% block body %}
{% if stage %}
	{% if stage == 'enrol' %}
		{{'Enrolment'}}
	{% elif stage == 'train' %}
		{{'Training'}}
	{% elif stage == 'test' %}
		{{'Testing'}}
	{% endif %}
	{% if message %}
		{{ message }}
	{% endif %}
	<form action="" method="post">
		{% csrf_token %}
		{{form.username.label}}
		{{form.username}}
		{{form.password.label}}
		{{form.password}}
		<input type="submit" id="submitButton" value="Submit">
	</form>
{% else %}
	{{'There seems to be a problem.'}}
{% endif %}
{% endblock %}

{% block javascript %}
	<script>
	$(document).ready(function(){
	    $("#password").focus(function(){
	        $.ajax({url: "{% url 'start' %}"});
	    });
	    $("#submitButton").click(function(){
	        $.ajax({url: "{% url 'stop' %}"});
	    });
	});
	</script>
{% endblock %}