{% extends 'master.html' %}

{% block title %}
Enrolment
{% endblock %}

{% block body %}
{% if stage %}
<div class="col-md-6">
	<div class="col-md-12 panel">
		<div class="col-md-12 panel-body" style="padding-bottom:30px;">
			<div class="col-md-12">
				<form class="cmxform" id="usernamePasswordForm" method="post" action="">
					{% csrf_token %}
					<div class="form-group">
						<div class="col-sm-12">
							{{ form.username }}
						</div>
					</div>
					<br/><br/><br/>
					<div class="form-group">
						<div class="col-sm-12">
							{{ form.password }}
						</div>
					</div>
					<br/><br/><br/>
					<div class="col-md-12">
						<center>
							<input class="submit btn btn-danger" type="submit" value="Submit" id="submitButton">
						</center>
					</div>
					<br/><br/><br/>
					{% if message %}
					<div class="form-group">
						<div class="col-sm-12">
							<p class="form-control info" placeholder="info">
								{{ message }}
							</p>
						</div>
					</div>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="row">
	<div class="col-md-6">
		<div class="panel box-v1">
			<div class="panel-body text-center">
				<h1>{{'There seems to be a problem.'}}</h1>
				<hr/>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
	<script>
	$(document).ready(function(){
	    $("#password").focus(function(){
	    	console.log("Focused");
	        $.ajax({url: "{% url 'start' %}"});
	    });
	    /*$("#password").blur(function(){
	        console.log("Blurred");
	        $.ajax({url: "{% url 'pause' %}"});
	    });*/
	    $("#submitButton").click(function(){
	    	console.log("Submitted");
	        $.ajax({url: "{% url 'stop' %}"});
	    });
	});
	</script>
{% endblock %}